.full-width {
    width: 100%;
  }
  
  .login-container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .sidenav-container {
    height: 100vh;
  }
  
  .content {
    padding: 16px;
  }
  