.login-card {
  .mat-mdc-form-field {
    --mdc-outlined-text-field-input-text-color: #000;
    --mdc-outlined-text-field-label-text-color: #000;
    --mdc-outlined-text-field-focus-label-text-color: #000;
    --mdc-outlined-text-field-placeholder-text-color: #555;
    --mdc-outlined-text-field-outline-color: #000;
    --mdc-outlined-text-field-hover-outline-color: #000;
    --mdc-outlined-text-field-focus-outline-color: #000;
    --mdc-text-field-caret-color: #000;
  }
}

.table-wrapper {
    position: relative;
  }

  
  
  
  